# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# Sensitive variables
*.tfvars
*.tfvars.json

# SSH keys
*.pem
*.key

# Backups
*.backup

# Logs
crash.log
crash.*.log

# Editors / OS
.vscode/
.idea/
.DS_Store
